---
# Monitoring role handlers
- name: reload systemd
  systemd:
    daemon_reload: yes

- name: restart node_exporter
  systemd:
    name: node_exporter
    state: restarted

- name: restart postgres_exporter
  systemd:
    name: postgres_exporter
    state: restarted
    
- name: reload prometheus
  systemd:
    name: prometheus
    state: reloaded
  delegate_to: "{{ prometheus_server }}"
  when: prometheus_server is defined