apiVersion: v1
kind: Service
metadata:
  name: nginx-nodeport
  namespace: api-deployment-demo
  labels:
    app: api-demo
    component: nginx
    service-type: nodeport
spec:
  selector:
    app: api-demo
    component: nginx
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30080
    protocol: TCP
  - name: https
    port: 443
    targetPort: 443
    nodePort: 30443
    protocol: TCP
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: api-nodeport
  namespace: api-deployment-demo
  labels:
    app: api-demo
    component: api
    service-type: nodeport
spec:
  selector:
    app: api-demo
    component: api
  ports:
  - name: http
    port: 8000
    targetPort: 8000
    nodePort: 30800
    protocol: TCP
  type: NodePort