apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: api-production-postgres-data
  namespace: api-deployment-demo
  labels:
    app: api-demo
    component: database
    environment: production
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard