---
- name: Install OpenSSL
  package:
    name: openssl
    state: present

- name: Create SSL directory
  file:
    path: "{{ ssl_cert_path }}"
    state: directory
    mode: '0755'
    owner: root
    group: root

- name: Generate self-signed SSL certificate
  block:
    - name: Generate private key
      openssl_privatekey:
        path: "{{ ssl_cert_path }}/nginx-selfsigned.key"
        size: "{{ ssl_key_size }}"
        mode: '0600'

    - name: Generate certificate signing request
      openssl_csr:
        path: "{{ ssl_cert_path }}/nginx-selfsigned.csr"
        privatekey_path: "{{ ssl_cert_path }}/nginx-selfsigned.key"
        common_name: "{{ server_name | default(ansible_fqdn) }}"
        subject_alt_name:
          - "DNS:{{ server_name | default(ansible_fqdn) }}"
          - "DNS:localhost"
          - "IP:{{ ansible_default_ipv4.address }}"
          - "IP:127.0.0.1"

    - name: Generate self-signed certificate
      openssl_certificate:
        path: "{{ ssl_cert_path }}/nginx-selfsigned.crt"
        privatekey_path: "{{ ssl_cert_path }}/nginx-selfsigned.key"
        csr_path: "{{ ssl_cert_path }}/nginx-selfsigned.csr"
        provider: selfsigned
        valid_in: "{{ ssl_days_valid * 86400 }}"  # Convert days to seconds

    - name: Generate Diffie-Hellman parameters
      openssl_dhparam:
        path: "{{ ssl_cert_path }}/dhparam.pem"
        size: 2048
        mode: '0644'

  when: ssl_self_signed | default(true) | bool

- name: Create SSL configuration snippet
  template:
    src: ssl-params.conf.j2
    dest: "{{ ssl_cert_path }}/ssl-params.conf"
    mode: '0644'
  notify: restart nginx

- name: Set SSL certificate permissions
  file:
    path: "{{ item }}"
    owner: root
    group: root
    mode: '0644'
  loop:
    - "{{ ssl_cert_path }}/nginx-selfsigned.crt"
    - "{{ ssl_cert_path }}/dhparam.pem"
    - "{{ ssl_cert_path }}/ssl-params.conf"

- name: Set private key permissions
  file:
    path: "{{ ssl_cert_path }}/nginx-selfsigned.key"
    owner: root
    group: root
    mode: '0600'